django>=4.2,<5.0
djangorestframework
djangorestframework-simplejwt
django-cors-headers
python-dotenv
langchain
groq
duckduckgo-search>=6.0.0
chromadb>=0.5.0
gunicorn
mysqlclient
pymysql
chromadb
onnxruntime